

<h1>Amaaaazin'</h1>


<h2>Find an Author</h2>

<form method="put" action="/authors">
 <input type="text" name="qry" size=20 autofocus>
 <input type="submit">
</form>    



<h2>Find a Book</h2>


<form method="put" action="/books">
 <input type="text" name="qry" size=20 autofocus>
 <input type="submit">
</form>    
